#L'analyse de donn√©es

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("MOCK_DATA.csv")

In [3]:
df.head(6)

,id,first_name,last_name,email,gender,ip_address
0,1,0,Surveyor,acullington0@slideshare.net,Male,6.138.171.228
1,2,0,Subcontractor,kwoolcocks1@ca.gov,Female,179.252.125.176
2,3,1,Construction Expeditor,hantonellini2@wsj.com,Male,213.194.29.105
3,4,0,Surveyor,jmaslin3@de.vu,Male,215.2.35.115
4,5,0,Construction Manager,dgreenlees4@homestead.com,Male,246.112.241.160
5,6,0,Construction Expeditor,ttomich5@ibm.com,Male,161.184.210.183

In [4]:
df.shape

(1000, 6)

In [6]:
df.tail(2)

,id,first_name,last_name,email,gender,ip_address
998,999,0,Electrician,gcrasterrq@google.com.hk,Male,155.216.145.108
999,1000,0,Project Manager,flardnarrr@canalblog.com,Female,172.169.65.195

In [ ]:
df.columns

In [ ]:
df.index

In [7]:
df.set_index("email")

,id,first_name,last_name,gender,ip_address
email,,,,,
acullington0@slideshare.net,1,0,Surveyor,Male,6.138.171.228
kwoolcocks1@ca.gov,2,0,Subcontractor,Female,179.252.125.176
hantonellini2@wsj.com,3,1,Construction Expeditor,Male,213.194.29.105
jmaslin3@de.vu,4,0,Surveyor,Male,215.2.35.115
dgreenlees4@homestead.com,5,0,Construction Manager,Male,246.112.241.160
...,...,...,...,...,...
qclemoesrn@youku.com,996,0,Architect,Male,0.125.253.63
hgierhardro@youku.com,997,0,Engineer,Female,85.123.210.24
radacotrp@mac.com,998,0,Electrician,Male,85.134.150.159
gcrasterrq@google.com.hk,999,0,Electrician,Male,155.216.145.108
flardnarrr@canalblog.com,1000,0,Project Manager,Female,172.169.65.195

In [8]:
df.index

RangeIndex(start=0, stop=1000, step=1)

In [16]:
df["gender"]

0        Male
1      Female
2        Male
3        Male
4        Male
        ...
995      Male
996    Female
997      Male
998      Male
999    Female
Name: gender, Length: 1000, dtype: object