In [3]:
import pandas as pd

In [5]:
df=pd.read_csv("MOCK_DATA.csv")

In [6]:
df.head()

,id,first_name,last_name,email,gender,ip_address
0,1,0,Surveyor,acullington0@slideshare.net,Male,6.138.171.228
1,2,0,Subcontractor,kwoolcocks1@ca.gov,Female,179.252.125.176
2,3,1,Construction Expeditor,hantonellini2@wsj.com,Male,213.194.29.105
3,4,0,Surveyor,jmaslin3@de.vu,Male,215.2.35.115
4,5,0,Construction Manager,dgreenlees4@homestead.com,Male,246.112.241.160

In [7]:
df["email"]

0      acullington0@slideshare.net
1               kwoolcocks1@ca.gov
2            hantonellini2@wsj.com
3                   jmaslin3@de.vu
4        dgreenlees4@homestead.com
                  ...
995           qclemoesrn@youku.com
996          hgierhardro@youku.com
997              radacotrp@mac.com
998       gcrasterrq@google.com.hk
999       flardnarrr@canalblog.com
Name: email, Length: 1000, dtype: object

In [ ]:
df

In [12]:
df["email"].head(10+1)

0     acullington0@slideshare.net
1              kwoolcocks1@ca.gov
2           hantonellini2@wsj.com
3                  jmaslin3@de.vu
4       dgreenlees4@homestead.com
5                ttomich5@ibm.com
6               fkington6@mtv.com
7             bduddin7@spiegel.de
8              abroadnicke8@ow.ly
9         cgemmill9@google.com.hk
10          mwiggingtona@ebay.com
Name: email, dtype: object

In [13]:
df.loc[10:20]

,id,first_name,last_name,email,gender,ip_address
10,11,0,Supervisor,mwiggingtona@ebay.com,Female,242.23.138.25
11,12,0,Construction Worker,bousleyb@goodreads.com,Female,52.35.19.107
12,13,0,Construction Worker,vcleverleyc@wufoo.com,Female,196.60.156.235
13,14,0,Supervisor,nambrodid@ft.com,Female,44.45.5.131
14,15,0,Subcontractor,btattershalle@etsy.com,Male,42.127.190.78
15,16,1,Electrician,jfaircliffef@dedecms.com,Female,58.28.126.240
16,17,1,Supervisor,kporteg@opensource.org,Female,249.193.152.17
17,18,0,Engineer,mlowranceh@google.cn,Male,142.61.158.3
18,19,0,Construction Expeditor,mrembranti@indiegogo.com,Agender,249.75.85.203
19,20,1,Estimator,aingryj@oaic.gov.au,Female,35.44.3.38
20,21,1,Subcontractor,fdawk@si.edu,Male,216.255.253.239

In [17]:
df_email = df.set_index("email")
df_email.head(2)

,id,first_name,last_name,gender,ip_address
email,,,,,
acullington0@slideshare.net,1,0,Surveyor,Male,6.138.171.228
kwoolcocks1@ca.gov,2,0,Subcontractor,Female,179.252.125.176

In [1]:
print("Hello")

Hello

In [3]:
for i in range(23,34):
    print(i)

23
24
25
26
27
28
29
30
31
32
33

In [6]:
print(i-1)

32